{
  "env": {
    "commonjs": true,
    "es2021": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "no-loops",
    "jest"
  ],
  "rules": {
    "naming-convention": "off",
    "no-underscore-dangle": "off",
    "object-curly-newline": "off",
    "no-console": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-loops/no-loops": 2,
    "max-len": [
      "error",
      140,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": false,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ]
  }
}
